<html>
    <head>
        <h2>Login page</h2>
    </head>
    <body>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" placeholder="username" class="form-control" name="Username">
            </div>

            <div class="form-group">
                <input type="password" placeholder="password" class="form-control" name="password">
            </div>

            <button type="submit">login</button>
        </form>
    </body>
</html>